@{
    ViewData["Title"] = "Pet Search";
}

<form asp-action="Search">
    <label for="name">Search:</label>
    <input type="text" id="name" name="name"><br><br>

    <label>Filter By:</label>
    <select name="location" id="location">
        <option value="ignore" selected="selected"></option>
        <option value="mel">Melbourne</option>
        <option value="syd">Sydney</option>
    </select>
    &nbsp;
    <select name="type" id="type">
        <option value="ignore" selected="selected"></option>
        <option value="bird">Bird</option>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="fish">Fish</option>
    </select>

    <input type="submit" value="Submit">
</form>