@model IEnumerable<PetFinderWeb.Models.Person>

@{
    ViewData["Title"] = "List";
    var y = Model.SelectMany(person => person.Pets?.Select(pet => new
    {
        person.Gender,
        person.Location,
        pet.Name,
        pet.Type
    }));

}
@foreach (var g in new[] { PetFinderCore.Gender.Female, PetFinderCore.Gender.Male })
{
    <h3>@Html.DisplayFor(modelItem => g)</h3>
    <ul>
        @foreach (var item in y.Where(x => x.Gender == g))
        {
            <li>
                <b>
                    @Html.DisplayFor(modelItem => item.Name)
                </b>
                <span>
                    @Html.DisplayFor(modelItem => item.Type)
                </span>
                <span>
                    @Html.DisplayFor(modelItem => item.Location)
                </span>
            </li>
        }
    </ul>

}